@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-20%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-in-left {
    animation: slideInLeft 0.3s ease-in-out;
}

body {
    overflow: hidden;
    overflow-y: auto;
}
div::-webkit-scrollbar {
    display: none;
}

.dark\\:invert {
    filter: invert(1);
}